.pad-sides.large
  %h4 Edit Page

  = form_for @changeset, post_path(@conn, :update, @post), fn f ->

    = render MyWedding.SharedView, "_form_error.html", changeset: @changeset

    = render "form.html", f: f

    = submit "Update Page", class: "btn right"
  - end

  %a.modal-trigger.btn.red.mar-sides.waves-effect.waves-light{href: "#confirm"} Delete
  = link "Back", to: post_path(@conn, :show, @post), class: "btn waves-effect grey left"

= render MyWedding.SharedView, "_confirm.html", button: button "Delete", to: post_path(@conn, :delete, @post), method: :delete, class: "btn btn-flat red-text red-outline"
