.row
  .col.s12.m10
    .input-field
      = mtl_label @f, :title
      = text_input @f, :title, autofocus: ""
      = error_tag @f, :title

  .col.s12.m2
    .input-field
      = mtl_label @f, :order
      = number_input @f, :order
      = error_tag @f, :order

.input-field
  = textarea @f, :body
  = error_tag @f, :body

.switch{style: "margin-bottom: 30px"}
  %label
    Inactive
    = checkbox @f, :is_active
    %span.lever
    Active
