.parallax-container.small
  .parallax
    - if @post.photo_id == nil do
      %img{src: "#{static_path(@conn, "/images/default.jpg")}"}
    - else
      %img{src: "#{static_path(@conn, upload_path(@post.photo.path, "800x500"))}"}
  %h3.center= @post.title

.container.section.post-body
  = {:safe, Earmark.to_html(@post.body)}

- if is_authorized(@conn, :author) do
  .fixed-action-btn
    .btn-floating.btn-large.blue
      = link to: post_path(@conn, :edit, @post) do
        = svg_image @conn, "mode_edit"
      - end
