.parallax-container.small
  .parallax
    %img{src: "#{static_path(@conn, "/images/default.jpg")}"}
  %h3.center= @post.title

.section.white
  .pad-sides
    = {:safe, Earmark.to_html(@post.body)}

- if is_authorized(@conn, :author) do
  .fixed-action-btn
    .btn-floating.btn-large.blue
      = link to: post_path(@conn, :edit, @post) do
        = svg_image @conn, "mode_edit"
      - end
