!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", http-equiv: "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}

    %title Hello MyWedding!

    %link{href: "#{static_path(@conn, "/css/app.css")}", rel: "stylesheet"}
  %body
    %script{src: "#{static_path(@conn, "/js/app.js")}", async: "", defer: ""}

    = render MyWedding.SharedView, "_header.html", conn: @conn

    %main.page-content
      = render @view_module, @view_template, assigns

    %footer.page-footer
      = render MyWedding.SharedView, "_footer.html", conn: @conn
