!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", http-equiv: "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}

    %title Our Wedding

    %link{rel: "icon", href: "#{static_path(@conn, "/favicon.ico?v=1")}"}
    %link{href: "#{static_path(@conn, "/assets/css/app.css")}", rel: "stylesheet"}
  %body
    = if is_env(:prod) do
      = render MyWedding.SharedView, "_analytics.html"
    - end
    %script{src: "#{static_path(@conn, "/assets/js/app.js")}"}

    = render MyWedding.SharedView, "_header.html", conn: @conn

    %main.page-content
      = render @view_module, @view_template, assigns

    %footer.page-footer
      = render MyWedding.SharedView, "_footer.html", conn: @conn

    = render_existing(@view_module, "#{template_name(@view_template)}_js.html")
