.container
  .card
    .card-heading.grey.lighten-3
      %img.circle.right{src: "#{@user.avatar}"}
      %h4
        = @user.name
        %small= @user.email
      .clearfix
    .card-content
      = form_for @changeset, user_path(@conn, :update, @user), fn f ->

        = render MyWedding.SharedView, "_form_error.html", changeset: @changeset

        .input-field
          = mtl_label f, :name
          = text_input f, :name

        .input-field
          = mtl_label f, :email
          = email_input f, :email

        .input-field
          = select f, :permission_level, permission_options
          = label f, :permission_level

          = submit "Update", class: "btn right"
      - end

      = link "Cancel", to: user_path(@conn, :index), class: "btn grey left"
      = button "Delete", to: user_path(@conn, :delete, @user), method: "delete", class: "btn red left", style: "margin: 0 10px;"
      .clearfix
