.row
  = if length(@albums) == 0 do
    .pad-sides
      .card-panel.light-blue.lighten-2.white-text
        There aren't any photo albums yet.
  - end

  = for album <- @albums do
    .col.s12.m4
      .card
        .small-card-image
          = if length(album.photos) > 0 do
            %img{src: "#{static_path(@conn, upload_path(List.first(album.photos).path, "800x500"))}"}
          - else
            %img{src: "#{static_path(@conn, "/images/default.jpg")}"}

          = link to: album_path(@conn, :show, album), class: "card-title" do
            = unless album.is_public do
              = svg_image @conn, "visibility_off"
            - end
            = album.title
          - end

        = if album.description != "" do
          .card-content
            = album.description
        - end
  - end

.fixed-action-btn
  = link to: album_path(@conn, :new), class: "btn-floating waves-effect waves-light btn-large green" do
    = svg_image @conn, "add"
  - end
