.pad-sides.large
  %h4 New Album

  = form_for @changeset, album_path(@conn, :create), fn f ->
    = render MyWedding.SharedView, "_form_error.html", changeset: @changeset

    = render "form.html", f: f

    .input-field
      = link "Back", to: album_path(@conn, :index), class: "btn grey"
      = submit "Create Album", class: "btn right"
  - end
