.footer-copyright
  .container
    .left
      - if current_user(@conn) do
        = link to: auth_path(@conn, :sign_out) do
          .left.small
            = svg_image(@conn, "exit", "wedding")
          .left
            Sign Out
        - end
      - else
        = link to: auth_path(@conn, :sign_in), style: "text-decoration: none;" do
          .left
            = svg_image(@conn, "id-card", "wedding")
          .left Sign In
        - end
    .center
      © 2016 Nikko Miu |
      = link "Terms & Privacy", to: page_path(@conn, :terms)

    .clearfix
