%nav.page-nav
  .nav-wrapper.color-navbar
    .brand-logo.left
      = link to: post_path(@conn, :index) do
        = svg_image(@conn, "logo", "wedding")
        Our Wedding
      - end

    %ul.right
      %li
        = link to: post_path(@conn, :index) do
          = svg_image(@conn, "news", "wedding")
        - end
      %li
        = link to: album_path(@conn, :index) do
          = svg_image(@conn, "picture", "wedding")
        - end
      = if is_authorized(@conn, :admin) do
        %li
          = link to: home_path(@conn, :index) do
            = svg_image(@conn, "settings", "wedding")
          - end
      - end

- if (get_flash(@conn, :info) != nil) do
  .alert.card-panel.blue.lighten-1.white-text
    %b Heads Up!
    = get_flash(@conn, :info)

- if (get_flash(@conn, :error) != nil) do
  .alert.card-panel.red.lighten-1.white-text
    %b Hey!
    = get_flash(@conn, :error)
